* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
label {
  color: white;
}
body {
  background-color: rgb(50, 50, 50);
}

.gameContainer {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.display {
  position: relative;
  height: 65%;
  width: 40%;
  border: 1px solid green;
}
.title {
  text-align: center;
  margin-top: 1%;
}
.items {
  height: 65%;
  width: 15%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.row {
  margin-top: 50%;
}

.timerHeader {
  text-align: center;
}
.changeTimer h4 {
  text-align: center;
}
.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btn {
  margin: 5%;
  width: 120px;
}

.leader {
  width: 180px;
  margin-top: 15%;
}

.span {
  display: inline-block;
  color: white;
}

.modal-dialog {
  position: absolute;
  top: 50%;
  height: 100vh;
  width: 100vw;
  left: 50%;
  transform: translate(-50%, -20%) !important;
  -webkit-transform: translate(-50%, -20%) !important;
  -moz-transform: translate(-50%, -20%) !important;
  -ms-transform: translate(-50%, -20%) !important;
  -o-transform: translate(-50%, -20%) !important;
}

.modal-body {
  height: 180px !important;
}

#notify {
  text-align: center;
  padding-top: 4%;
}
.modal-backdrop {
  background-color: rgba(255, 255, 255, 0);
}

#formContainer {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(135, 236, 222, 0.7);
  height: 50vh;
  width: 50vw;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.btns {
  height: 30px;
  width: 100px;
}
.nameInput {
  height: 40px;
  width: 100%;
}
.leaderDialog {
  position: absolute;
  top: 20%;
  height: 100vh;
  width: 100vw;
  left: 50%;
  transform: translate(-50%, -20%) !important;
  -webkit-transform: translate(-50%, -20%) !important;
  -moz-transform: translate(-50%, -20%) !important;
  -ms-transform: translate(-50%, -20%) !important;
  -o-transform: translate(-50%, -20%) !important;
}

.leaderBody {
  height: 600px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tableContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
#hscoreTable,
#hscoreName,
#hscoreDept,
#hscoreScore,
#name,
#dept,
#currentHscore {
  color: white;
}

table {
  border: 1px solid orange;
  width: 100%;
  border-collapse: separate !important;
  color: white;
  padding-right: 5%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

tr,
th {
  text-align: center;
  margin-inline: 15%;
}

.thirty,
.sixty,
.ninety th,
tr {
  color: black !important;
}
.thirty {
  margin-top: -2% !important;
  margin-bottom: 5%;
}
.sixty,
.ninety {
  margin: 6%;
}

/* fadeout animation  */

.fade-out {
  animation: fadeOutAnimation 1s ease forwards;
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeInAnimation 1.5s ease forwards;
  -webkit-animation: fadeInAnimation 1.5s ease forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.showLeader {
  opacity: 1;
}
.no-user-input {
  pointer-events: none;
}

.user-input {
  pointer-events: auto;
  /* display: block; */
}
.leadermod {
  display: none;
}
